<div class="container mt-4" >
    <div id="contactsContainer" class="contacts-container" #contactsContainer>
      <button type="button" class="close" aria-label="Close">
        <button type="button" class="btn btn-outline-primary untoggler" (click)="toggleUntoggleConversations(contactsContainer)">
          <i class="fa fa-times"></i>
        </button>
      </button>
        <h4>Messages</h4>
        <input  id="inputMsg" type="text" #inputMsg class="col-sm-12 mb-2" placeholder="Search for messages"/>
        <span *ngFor="let conversation of conversations" >
          <app-message-list-item [message]="getLastMessage(conversation)"
                                  [userMap]="conversation.userMap"
                                  [currentUser]="user"
                                  listConversationMode="true"
                                  (click)="openConversation(conversation)">
          </app-message-list-item>
        </span>
        <hr class="mt-0 mb-1"/>
        <div *ngIf="conversations.length == 0" class="text-center mt-5" >
          <h5>You don't have messages!</h5>
          <span class="small text-muted p-3">You can use the chat after applying to a task.</span>
        </div>
    </div>
    <div class="toggler">
      <button type="button" class="btn btn-outline-primary" (click)="toggleUntoggleConversations(contactsContainer)">
        <i class="fa fa-arrow-right"></i>
      </button>
    </div>
    <div class="messages-container">
      <div *ngIf="selectedConversation != null">
        <app-messages-container [conversation]="selectedConversation" [currentUser]="user"></app-messages-container>
      </div>
      <div *ngIf="selectedConversation == null" class="text-center mt-5">
          <h5>Select a conversation to see details.</h5>
      </div>
    </div>
</div>

