<div class="container mt-4" id="subTaskDetails">
    <div class="row ">
        <div class="col-sm-12" *ngIf="subTask != null">
            <div class="card">
                <div class="card-header row">
                    <h4 class="text-left col-lg-9">{{subTask.title}}</h4>
                    <h2 class="text-left col-lg-3">{{subTask.endDate | date: 'dd/MM/yyyy'}}</h2>
                </div>
                <div class="card-body mb-10">
                    <div class="form-group row">
                      <label class="col-lg-2"><i class='fa fa-user-o'></i>  Creator:</label>
                      <label class="col-lg-10"><i class='fa fa-map-marker'></i> Location:</label>
                      <div class="col-lg-2 text-left">
                        <img src="{{subTask.user.profilePhoto?.url}}" alt="" width="30px" height="30">
                        <small class="ml-1 text-muted text-truncate">{{subTask.user.givenName}}</small>
                      </div>
                      <div class="col-lg-10">
                        <a [href]="getGoogleMapsUrl(subTask.location)" target="_blank">{{subTask.location}}</a>
                      </div>
                    </div>
                    <div class="form-group">
                      <i class='fa fa-file-text-o mr-1'></i><label>Description:</label>
                      <textarea class="form-control" rows="6"
                                placeholder="What is the task about?" readonly>{{subTask.description}}</textarea>
                    </div>
                </div>
            </div>
            <div class="card">
              <div class="card-body mb-10">
                <h5>Comments:</h5>
                <hr/>
                <div *ngIf="subTasksComments.length == 0">
                    <h3><span class="badge badge-light">No comments were added to this task yet.</span></h3>
                </div>
                <app-generic-paginator (loadContent)="listWithPagination($event)" 
                  [paginationInfo]="paginationInfo" 
                  [compactSearchInput]="true"
                  [showSearchFilter]="false">
                  <div *ngIf="subTasksComments.length > 0">
                      <span  *ngFor="let comment of subTasksComments" class="row col-lg-12 pt-1 commentDiv">
                        <div class="col-lg-12 text-left">
                          <img src="{{subTask.user.profilePhoto?.url}}" alt="" width="30px" height="30">
                          <small class="ml-1 text-muted text-truncate">{{comment.userSender.givenName}} - {{comment.sentTime | timeAgo}}</small>
                        </div>
                        <div class="col-lg-12 text-left">
                          <label class="ml-5">{{comment.content}}</label>
                        </div>
                        <i class='fa fa-trash-o delete-btn clickable-appearance' 
                            data-toggle="tooltip" title="Delete Comment"
                            *ngIf="canDeleteComment(comment)"
                            (click)="deleteComment(comment.id)"></i>
                      </span>
                    </div>
                  </app-generic-paginator>
                <hr/>
                <div>
                  <div class="form-group">
                    <textarea class="form-control" rows="2" #commentMsgTxtArea
                              placeholder="Add some comment here..."></textarea>
                  </div>
                  <button type="button" class="btn btn-primary" (click)="addComment(commentMsgTxtArea)" >
                    <i class="fa fa-comments mt-2" aria-hidden="true"></i> Add comment
                  </button>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
