<form id="filterForm" (ngSubmit)="filterData()">
  <div class="form-group">
    <label>Search for Title</label>
    <input type="text" class="form-control" placeholder="Search for a task title" [(ngModel)]="pageable.searchTerm" name="searchTerm"/>
    <button type="submit" class="btn btn-success mt-2" >Filter</button>
  </div>
</form>

<ng-content></ng-content>

<div class="btn-toolbar" *ngIf="paginationInfo">
  <div *ngIf="paginationInfo.totalElements == 0;else elseBlock">
    No results found
  </div>
  <ng-template #elseBlock>
    <div class="btn-group mr-2 pages-navigation-group" role="group" aria-label="First group">
      <button type="button" class="btn btn-default" (click)="firstPage()" [ngClass]="paginationInfo?.curPageNumber > 1 ? '' : 'display-none'">
        <i class="fa fa-angle-left"></i><i class="fa fa-angle-left"></i>
      </button>
      <button type="button" class="btn btn-default" (click)="previousPage()" [ngClass]="paginationInfo?.curPageNumber > 1 ? '' : 'display-none'">
        <i class="fa fa-angle-left"></i>
      </button>
      <a  class="btn btn-default mr-2 ml-2" disabled >
        {{ paginationInfo?.curPageNumber + ' of ' + paginationInfo?.totalPages}}
      </a>
      <button type="button" class="btn btn-default" (click)="nextPage()" [ngClass]="!paginationInfo?.last ? '' : 'display-none'">
        <i class="fa fa-angle-right"></i>
      </button>
      <button type="button" class="btn btn-default" (click)="lastPage()" [ngClass]="!paginationInfo?.last ? '' : 'display-none'">
        <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i>
      </button>
    </div>
  </ng-template>
</div>

