<form id="filterForm" (ngSubmit)="filterData()">
  <div class="form-group">
    <label>Search for Title</label>
    <input type="text" class="form-control" placeholder="Search for a task title" [(ngModel)]="pageable.searchTerm" name="searchTerm"/>
    <div>
      <button type="submit" class="btn btn-success mt-2" >Filter</button>  
      <button type="button" class="btn collapsible mt-2 ml-1" *ngIf="filterFields.length > 0" (click)="collapseOrNot($event, collapsibleContent)">
        <i class="fa fa-filter" aria-hidden="true"></i>

      </button>
    </div>
    <div id="collapsibleContent" class="content" #collapsibleContent>
      <div *ngFor="let field of filterFields">
        <div *ngIf="field.type == 'input'">
            <label for="input{{ field.key }}Label">{{field.label}}</label>
            <input id="input{{ field.key }}" type="text" class="form-control" required name="{{ field.key }}" [(ngModel)]="field.choosen" >
        </div>
        <div *ngIf="field.type == 'rad'">
            <label for="rad{{ field.key }}Label">{{field.label}}</label>
            <div *ngFor="let option of field.options">
              <input type="radio" [(ngModel)]="field.choosen" [name]="option.name" [value]="option.value">
              <span class="small">
                {{ option.label }}
              </span>
            </div>
        </div>
        <div *ngIf="field.type == 'chk'">
            <input id="chk{{ field.key }}" type="checkbox" [(ngModel)]="field.choosen">
            <span class="small">
              {{field.label}}
            </span>
        </div>
      </div>
    </div>
  </div>
    

</form>

<ng-content></ng-content>

<div class="btn-toolbar" *ngIf="paginationInfo">
  <div *ngIf="paginationInfo.totalElements == 0;else elseBlock">
    No results found
  </div>
  <ng-template #elseBlock>
    <div class="btn-group mr-2 pages-navigation-group" role="group" aria-label="First group">
      <button type="button" class="btn btn-default" (click)="firstPage()" [ngClass]="paginationInfo?.curPageNumber > 1 ? '' : 'display-none'">
        <i class="fa fa-angle-left"></i><i class="fa fa-angle-left"></i>
      </button>
      <button type="button" class="btn btn-default" (click)="previousPage()" [ngClass]="paginationInfo?.curPageNumber > 1 ? '' : 'display-none'">
        <i class="fa fa-angle-left"></i>
      </button>
      <a  class="btn btn-default mr-2 ml-2" disabled >
        {{ paginationInfo?.curPageNumber + ' of ' + paginationInfo?.totalPages}}
      </a>
      <button type="button" class="btn btn-default" (click)="nextPage()" [ngClass]="!paginationInfo?.last ? '' : 'display-none'">
        <i class="fa fa-angle-right"></i>
      </button>
      <button type="button" class="btn btn-default" (click)="lastPage()" [ngClass]="!paginationInfo?.last ? '' : 'display-none'">
        <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i>
      </button>
    </div>
  </ng-template>
</div>

