<div *ngIf="editable">
  <div class="rating d-inline-flex clickable-appearance">
    <span class="clickable-appearance" (click)="rate(5)">☆</span><span class="clickable-appearance" (click)="rate(4)">☆</span><span class="clickable-appearance" (click)="rate(3)">☆</span><span class="clickable-appearance" (click)="rate(2)">☆</span><span class="clickable-appearance" (click)="rate(1)">☆</span>
  </div>
</div>

<div *ngIf="!editable">
  <span class="rating-{{getRateForStars(user.rateAvg)}}s pl-1" data-toggle="tooltip" title="{{getTooltipForRate(user.rateAvg)}}"></span>
</div>
