<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-6 col-sm-6">
      <app-generic-paginator (loadContent)="listWithPagination($event)" [paginationInfo]="paginationInfo">
        <span *ngFor="let task of punctualTasks" >
        	<div class="row inline-task {{getRiskClass(task)}} d-flex align-items-center clickable-appearance" [routerLink]="['/taskDetails/',task.id]" routerLinkActive="router-link-active" data-toggle="tooltip" title="Click to see details">
        		<div class="col-lg-7 text-truncate" data-toggle="tooltip" title="Click to see details">
					<span>
						{{task.title}}
					</span>
					
				</div>
        		<div class="col-lg-3 small text-muted text-truncate">
					<span *ngIf="outDatedTask(task);else dueDate">
						Outdated <b>{{task?.endDate | timeAgo}}</b>
					</span>
					<ng-template #dueDate>
						Due date in <b>{{(task?.endDate | timeAgo).replace('ago', '')}}</b>
					</ng-template>
					
        			<br>
        			Created by: {{task.user.givenName}} {{task.user.familyName}}
        		</div>
        		<div class="col-lg-1 small text-muted">
        			<span *ngIf="!outDatedTask(task)">
						Risk:
					</span>
        		</div>
        	</div>
        </span>
      </app-generic-paginator>
    </div>
  </div>
</div>
