.card {
	min-height: 200px;
}

.card-footer {
	display: inline-flex;
}

.light-text-muted {
	color: #ffffff82 !important;
}

.bg-danger {
	background-color: #b57878 !important
}

.application-card-header{
	height: 85px;
}

.application-card-body{
	height: 100px;
}

.application-card-footer{
	height: 80px;
}