.conversation-container {
  border: 1px solid #e4e4e4;
}
.messages-container {
  min-height: 320px;
  max-height: 320px;
  overflow-y: scroll;
}

.footer-content {
  margin-top: 1px;
  bottom: 0;
  width: 100%;
}

.message-input {
  width: 90%;
  overflow-y: hidden;
  min-height: 40px;
  max-height: 180px;
}

.send-btn {
  width: 10%;
}
