@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

body{
  background: #F2F2F2;
  color: #303030;
  margin-top:3em;
  font-family: 'Roboto', sans-serif;
}

.two-col-example{
  margin-bottom:10em;
}

h2{
  margin-bottom: 1em;
  text-align:center;
  font-size: 40px;
  font-weight: 300;
}

h4{
  font-weight: 400;
  font-size: 18px;
}

h5{
  color: #1F6F9A;
  font-weight: 400;
}

p{
  font-weight: 300;
  font-size: 14px;
}

.com-button{
  background-color: #1F6F9A;
  font-weight: 300;
  font-size: 18px;
  padding: .7em 2em;
  border-radius: 100px;
}

.main-button{
  margin-top: 1em;
  text-align: center;
}

.card{
  border-radius:3px;
  border: 1px solid #D1D1D1;
}

.card-deck .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 6px;
    margin-bottom: 0;
    margin-left: 6px;
}

.com-icon{
  margin-bottom: .35em;
  color: #1F6F9A;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 1rem .9em;
    margin-bottom: .5em;
    background-color: transparent;
/*     border: 1px solid rgba(0, 0, 0, 0.125); */
  border: none;
}

.list-group-item:first-child {
padding-top: 0;
}

.list-group p{
  font-size: 16px;
}

.list-com-announcements{
 border-bottom: 1px solid #D1D1D1; 
}

.primary {
    color: #0079a1;
}

.big-icon {
    font-size: 25px;
}