<div class="card">
  <div class="card-body">
    <div class="container contentContainer" *ngIf="mediaList && mediaList[0] && mediaList.length > 0; else noMediaFound" ngelse>
        <div class="row ">
            <img *ngIf="activeMedia.type == '1'" src="{{activeMedia?.url}}" alt="{{activeMedia?.description}}" class="card-img-top img-thumpnail mediaContent">
            <video *ngIf="activeMedia.type == '2'" autoplay="" class="card-img-top img-thumpnail embed-responsive-ite mediaContent" >
                <source src="{{activeMedia?.url}}" type="video/mp4">
            </video>

        </div>
        <div class="row justify-content-center media-navigation-btns">
            <div class="col-3">
                <button class="btn btn-primary text-black-50" (click)="prev()" [disabled]="onFirstMedia" >
                    <i class="fa fa-angle-left" style="font-size: 25px"></i>
                </button>
            </div>
            <div class="offset-6 col-3">
                <button class="btn btn-primary text-black-50" (click)="next()" [disabled]="onLastMedia" >
                    <i class="fa fa-angle-right" style="font-size: 25px"></i>
                </button>
            </div>
        </div>
    </div>
    <ng-template #noMediaFound>
      <div class="container " style="height: 200px;">
        <img src="../../../assets/images/no_image_found.png" alt="No image found" class="card-img-top img-thumpnail mediaContent">
      </div>
    </ng-template>

  </div>
</div>
