<div class="container mt-4">
  <div class="row">
    <div class="col-sm-1">
      <a href="#" class="btn btn-primary d-inline-flex" [routerLink]="['/findTasks/']" routerLinkActive="router-link-active" >
        <i class="fa fa-arrow-left mt-1 mr-2" aria-hidden="true"></i>Back
      </a>
    </div>
    <div class="col-sm-9">
      <div class="tab-panel">
        <tabset class="task-someone-tabset" >
          <tab heading="Details">

            <div class="card">
              <div class="card-header">
                  <div class="row">
                    <div class="col-sm-10">
                      <h4>{{taskSomeone.title}}</h4>
                      <small class="text-muted">created {{taskSomeone.createdOn | timeAgo}}</small>
                    </div>
                    <div class="col-sm-2">
                        <img src="{{taskSomeone.user.profilePhoto.url}}" alt="{{taskSomeone.user.givenName}}" width="30px" height="30px">
                        <small class="ml-1 text-muted text-truncate">{{taskSomeone.user.givenName}}</small>
                    </div>
                  </div>
              </div>
              <div class="card-body">
                <h4>Details</h4>
                <hr class="h-ruler details">
                <p class="card-text">{{taskSomeone.description}}</p>

                <h4>Location</h4>
                <hr class="h-ruler location">
                <p class="card-text">{{taskSomeone.location}}</p>

                <h4>Medias</h4>
                <hr class="h-ruler medias">
                <div class="center">
                  <div class="offset-sm-4 col-sm-5">
                    <app-media-gallery [mediaList]="taskSomeone.mediaList" ></app-media-gallery>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="About {{taskSomeone.user.givenName}}">
            <div class="card">
              <div class="card-body">
                <img src="{{taskSomeone.user.profilePhoto.url}}" alt="{{taskSomeone.user.givenName}}" width="60px" height="60px">
                {{taskSomeone.user.givenName}} {{taskSomeone.user.familyName}}
                <p class="card-text">
                  <br/>
                  Age: {{taskSomeone.user.birthDate | timeAgo | slice:0:2}}
                  <br/>
                  Contact: {{taskSomeone.user.contact}}
                  <br/>
                  Tasks: <font color="red"> 21</font>
                </p>
              </div>
            </div>
          </tab>
        </tabset>
      </div>

    </div>
    <div *ngIf="!taskSomeone.ownTask" class="col-sm-2">
      Willing to do this? Send a message to {{taskSomeone.user.givenName}}!
      <br/>
      <button type="button" class="btn btn-primary" (click)="open(sendMessageModal, 'sendMessageModal')" >
        <i class="fa fa-comments mr-2" aria-hidden="true"></i>I'm interested!
      </button>
    </div>
    <div *ngIf="taskSomeone.ownTask" class="col-sm-2">
      <button type="button" class="btn btn-light" (click)="open(editTaskModal, 'editTaskModal')" >
        <i class="fa fa-pencil mr-2" aria-hidden="true"></i>Edit task information
      </button>
      <ng-template id="editTaskModal" #editTaskModal let-modal>
          <app-edit-task [task]="taskSomeone" 
                          (saveSuccessfully)="onTaskUpdatedSuccessfully($event); modal.dismiss();" 
                          (cancelChanges)="modal.dismiss();">
          </app-edit-task>
      </ng-template>
    </div>
  </div>
</div>

<ng-template id="sendMessageModal" #sendMessageModal let-modal>
  <div class="text-left mt-2 container mb-2">
      Message to {{taskSomeone.user.givenName}}:
      <br />
      <textarea id="msgText" class="w-100 msgTextArea" #msgText>Hello {{taskSomeone.user.givenName}}! I saw that you created the task "{{taskSomeone.title}}" and I am interested in doing it.
      </textarea>
      <div class="text-right mt-2">
        <button type="button" 
          class="btn btn-ligth mr-2" 
          (click)="modal.dismiss()">
            Cancel
        </button>
        <button type="submit" 
          class="btn btn-primary"  
          (click)="sendInterestedMessage(modal, msgText.value)">
            Save
        </button>
      </div>
  </div>
</ng-template>