<div class="container mt-4">
  <div class="row">
    <div class="col-sm-1">
      <a href="#" class="btn btn-primary d-inline-flex" [routerLink]="['/findTasks/']" routerLinkActive="router-link-active" >
        <i class="fa fa-arrow-left mt-1 mr-2" aria-hidden="true"></i>Back
      </a>
    </div>
    <div class="col-sm-9">
      <div class="tab-panel">
        <tabset class="task-someone-tabset" >
          <tab heading="Details">

            <div class="card">
              <div class="card-header">
                  <div class="row">
                    <div class="col-sm-10">
                      <h4>{{taskSomeone.title}}</h4>
                      <small class="text-muted">created {{taskSomeone.createdOn | timeAgo}}</small>
                    </div>
                    <div class="col-sm-2">
                        <img src="{{taskSomeone.user.profilePhoto.url}}" alt="{{taskSomeone.user.givenName}}" width="30px" height="30px">
                        <small class="ml-1 text-muted text-truncate">{{taskSomeone.user.givenName}}</small>
                    </div>
                  </div>
              </div>
              <div class="card-body">
                <h4>Details</h4>
                <hr class="h-ruler details">
                <p class="card-text">{{taskSomeone.description}}</p>

                <h4>Location</h4>
                <hr class="h-ruler location">
                <p class="card-text">{{taskSomeone.location}}</p>

                <h4>Medias</h4>
                <hr class="h-ruler medias">
                <div class="center">
                  <div class="offset-sm-4 col-sm-5">
                    <app-media-gallery [mediaList]="taskSomeone.mediaList" ></app-media-gallery>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="About {{taskSomeone.user.givenName}}">
            <div class="card">
              <div class="card-body">
                <img src="{{taskSomeone.user.profilePhoto.url}}" alt="{{taskSomeone.user.givenName}}" width="60px" height="60px">
                {{taskSomeone.user.givenName}} {{taskSomeone.user.familyName}}
                <p class="card-text">
                  <br/>
                  Age: {{taskSomeone.user.birthDate | timeAgo | slice:0:2}}
                  <br/>
                  Contact: {{taskSomeone.user.contact}}
                  <br/>
                  Tasks: <font color="red"> 21</font>
                </p>
              </div>
            </div>
          </tab>
        </tabset>
      </div>

    </div>
    <div *ngIf="!taskSomeone.ownTask" class="col-sm-2">
      <div *ngIf="taskSomeone.alreadyApplied" class="small text-muted">
        You already applied to this task! At any moment you will receive a feedback from the task creator.
        <br/>
        Check 
        <a href="#" [routerLink]="['/taskApplications']" routerLinkActive="router-link-active" >
          Your Applications 
        </a> 
        to see your applications details.
      </div>
      <div *ngIf="!taskSomeone.alreadyApplied">
        Willing to do this? Send a message to {{taskSomeone.user.givenName}}!
        <br/>
        <button type="button" class="btn btn-primary" (click)="open(sendMessageModal, 'sendMessageModal')" >
          <i class="fa fa-comments mr-2" aria-hidden="true"></i>I'm interested!
        </button>
      </div>
    </div>
    <div *ngIf="taskSomeone.ownTask" class="col-sm-2">
      <a  class="btn btn-light " href="#" [routerLink]="['/createdTasks', taskSomeone.title]" routerLinkActive="router-link-active" > 
        <i class="fa fa-pencil mr-2" aria-hidden="true"></i> Manage Task 
      </a>
    </div>
  </div>
</div>

<ng-template id="sendMessageModal" #sendMessageModal let-modal>
  <app-send-message [defaultMsg]="'Hello ' + taskSomeone.user.givenName + '! I saw that you created the task ' + taskSomeone.title + ' and I am interested in doing it.'" 
                    [messageTo]="taskSomeone.user.givenName" 
                    (onSend)="sendInterestedMessage($event, modal);" 
                    (onCancel)="modal.dismiss()">
  </app-send-message>
</ng-template>