.applicant-container {
	padding: 4px;
}
.applicant-container:hover{
	background-color: #8080801f;

}

.application-status {
	text-align: center;
	border-radius: 5px;
	background-color: bisque;
	display: inline-table;
	padding: 5px;
}

.selected-applicant{
	background-color: #8080801f;
}

.applicants-rows {
	overflow-y: auto;
	max-height: 250px;
}

.applicant-thumb {
	display: inline;
}

.applicant-thumb:hover{
	cursor: pointer;
	padding-left: 1px;
	padding-bottom: 1px;
	opacity: 0.8;
}