<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-6 col-sm-6">
      <div class="form-group">
        <label>Search for Title</label>
        <input type="text" class="form-control" placeholder="Search for a task title" [(ngModel)]="searchTerm" />
      </div>
      <app-generic-paginator (loadContent)="listWithPagination($event)" [pageable]="pageable" [paginationInfo]="paginationInfo">
        <p *ngFor="let task of filteredTasks">
          <app-task-someone-card [taskSomeone]="task"></app-task-someone-card>
        </p>
      </app-generic-paginator>
    </div>
  </div>
</div>
